# Ignore node_modules (where all the dependencies are installed)
node_modules/
# Ignore build output (where the transpiled and bundled code goes)
build/
dist/
# Ignore editor-specific files
.vscode/
.idea/
*.swp
*~
# Ignore dependencies lock files
yarn.lock
package-lock.json

# Local Netlify folder
.netlify
